p, li {
    color: rgb(0, 0, 0);
    font-family: 'Futura', sans-serif;
    font-size: 25px;
    font-weight: 200;
}

h1 {
    color: rgb(150, 28, 6);
    font-family: 'Futura', sans-serif;
    font-size: 100px;
    font-weight: 800;
}

h2, h3, h4, h5, h6 {
    color: rgb(150, 28, 6);
    font-family: 'Futura', sans-serif;
    font-size: 50px;
    font-weight: 800;
}

img {
    height: 800px;
    width: auto;
}

b {
    color: rgb(150, 28, 6);
}

a {
    color: rgb(0, 0, 0);
    font-family: 'Futura', sans-serif;
    font-size: 25px;
    font-weight: 200;
}

.main, .top, .recipe-list {
    margin: 0 auto;
}

.main {
    display: block;
    padding: 5px;
    background-color: rgb(13, 29, 43);
    text-align: center;
}

.top {
    background-color: blueviolet;
    padding: 2px 5px;
    border-color:pink;
    text-indent: 10px;
}

.recipe-list {
    background-color: orange;
    padding: 5px;
}